html {
    /*background-color: #4A96AD;*/
    background-color: #343a40;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    /*background-color: #fff;*/
  }
  
  #App {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    /*background-color: #4A96AD;*/
    background-color: #343a40;
  }
  
  header {
    text-align: center;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    width: auto;
    height: auto;
    padding: 33px 0 25px 15px;
    background-color: white;
  }
  
  header h1 {
    font-weight: 600;
    letter-spacing: 0.3px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
  }
  
  header hr {
    margin-top: 5px;
  }
  
  .hrFormat {
    border-color: #343a40;
  }
  
  .letterSpacing {
    letter-spacing: '0.3px';
  }
  
  #editIcon {
    color: white;
  }
  
  #closeEditBtn {
  float: right;
  }
  
  #delIcon {
    color: red;
  }
  
  #mainList {
    /*margin-right: 40px;*/
    padding-left: 0px!important;
    text-align: center;
    list-style: none;
  }
  
  #mainListBtnContainer {
    flex-direction: row;
    display: flex;
    vertical-align: middle;
    align-items: baseline;
  }

  #editModalBody {
    padding: 0!important;
  }
  
  #editNameContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  height: 50px;
  }
  
  #editNameLabel {
  margin-right: 5px;
  }
  
  #modalFormat {
    text-align: center;
  }
  
  .modal-header {
  border-bottom: 0px!important;
  padding-bottom: 0px!important;
  }
  
  .modal-footer {
  border-top: 0px!important;
  padding-top: 0px!important;
  }
  
  .mainItems {
    border-radius: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 12px;
    padding-bottom: 6px;
    /*margin-bottom: 20px;*/
    /*background-color: rgb(237, 237, 237);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12), 0 1px 8px 0 rgba(0, 0, 0, .2);*/
  }
  
  .itemsDiv {
    display: none;
    border-style: inset;
    margin-left: 20px;
    padding-top: 5px;
  }
  
  #addItemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .backForeEditStyle {
    margin-bottom: 15px;
  }
  
  #mainListSection {
    margin-right: 40px;
    margin-left: 40px;
  }
  
  #createListDiv {
    /*background-color: #4A96AD;*/
    /*padding-top: 1px;*/
    padding-bottom: 10px;
    color: #343a40;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    margin-top: 15px;
    /*width: 50%;*/
    margin-left: auto;
    margin-right: auto;
  }
  
  #addItemDiv,
  #editItemDiv {
    /*background-color: #4A96AD;*/
    padding-top: 1px;
    padding-bottom: 10px;
    color: #343a40;
    /*margin-left: 40px;*/
    margin-left: auto;
    margin-right: 40px;
    text-align: center;
    /*margin-top: 20px;*/
    width: 50%;
    /*margin-left: auto;*/
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
  }
  
  .addItemDiv {
    /*background-color: #4A96AD;*/
    padding-top: 10px;
    padding-bottom: 10px;
    color: #343a40;
    /*margin-left: 40px;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*margin-top: 20px;*/
    /*width: 50%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    width: 80%;
  }
  
  header {
    padding-top: 9px;
    padding-bottom: 9px;
  }
  
  .addItemText {
    margin-right: 10px;
  }
  
  #listModalTitle {
    text-align: center;
    font-size: 35px;
    color: #343a40;
    padding-right: 20px;
  }
  
  #indexOrderHeader {
  font-size: 25px;
  }
  
  #indexAdjustContainer {
  display: flex;
  flex-direction: column;
  vertical-align: baseline;
  padding-left: 10px;
  margin-top: -9px!important;
  margin-right: 80px;
  align-content: baseline;
  margin: auto;
  }
  
  #listBtns {
    text-align: left;
    background-color: #103D5D;
    margin-bottom: 5px;
    color: #fff;
    font-weight: 300;
    padding: 15px;
    width: 100%;
    font-size: 25px;
    flex-direction: row;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12), 0 1px 8px 0 rgba(0, 0, 0, .2);
  }
  
  #mainListBtn {
  color: white;
  }

  #backForeEditContainer {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #subListBackForeEditContainer {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
  }

  #backForeEditBtn {
    
  }

  .colorPickerBtns {
    background-color: #4A96AD;
    color: white;
  }

  #foreBtn {
    margin-left: 10px;
    
  }

  .colorPicker {
    margin-top: 10px;
    margin-left: auto!important;
    margin-right: auto!important;
  }

  .btn {
    margin-left: 10px;
    background-color: '#4A96AD'
  }
  
  #editDelBtn {
    /*margin-top: 5px;*/
    margin-left: 5px;
  }
  
  #editMainListBtn {
    float: right;
  }
  
  #submitText {
    font-size: 25px;
    color: #000;
    /*padding: 8px 12px;*/
    /*border: 0;*/
    display: block;
    margin-right: 10px;
    text-align: center;
    border-radius: 6px;
    width: 100%;
  }
  
  #submitBtn {
    background-color: #343a40;
    border-color: #343a40;
    color: white;
    margin-top: 8px;
    width: 100%;
  }
  
  #submitOrderIndexBtn {
    /*margin-left: 10px;*/
    margin-top: 10px;
    color: dodgerblue;
  }
  
  #orderIndex {
    width: 60px;
    height: 30px;
    text-align: center;
    border-style: solid;
    border-color: gray;
    font-size: 20px;
  }
  
  #addOrderIndexDiv {
    padding-top: 1px;
    padding-bottom: 10px;
    color: #343a40;
    margin-left: auto;
    margin-right: 40px;
    text-align: center;
    width: 50%;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
    border-style: solid;
    border-color: gainsboro;
  }
  
  .indexInputFormat {
  width: 40%!important;
  text-align: center;
  }
  
  #editSavePrompt {
  height: 200px!important;
  height: 60px;
    font-size: 25px;
    text-align: center;
  color: green;
  }
  
  #editSaveText {
  margin-top: 30px;
  margin-bottom: 30px;
  }
  
  #items {
    border-radius: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 20px;
    /*margin-right: 30px;*/
    background-color: rgb(237, 237, 237);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12), 0 1px 8px 0 rgba(0, 0, 0, .2);
  }

  .item {
    display: flex;
    flex-direction: 'row';

  }
  
  #itemsList {
    font-size: 20px;
    padding-left: 0px!important;
    list-style-type: none;
  }
  
  #subList {
    font-size: 20px;
    text-align: "center";
    list-style-type: none;
    padding-left: 0px!important;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 45px;
  }
  
  @keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
  }
  
  .FadeAnimation {
  animation: FadeAnimation 1s ease-in .2s forwards;
  }
  
  @keyframes FadeAnimation {
  0% {
    opacity: 1;
    visibility: visible;
  }
  
  100% {
    opacity: 0;
    visibility: hidden;
  }
  }
  
  @media only screen and (max-width: 320px) {
  #indexAdjustContainer {
    padding-left: 10px;
    margin-top: -25px!important;
    margin-bottom: -20px!important;
    margin-right: 90px;
    margin: auto!important;
  }
  .indexInputFormat {
    width: 60%!important;
  
  }
  }